<%- include('../includes/head',{pageTitle: 'SignUp'} ) %>
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/auth.css">
</head>

<body>
<%- include('../includes/header') %>
<main>
    <h1>Login</h1>
    <form action="/signup" method="POST">
        <p>
            <label for="email">Email Address</label>
            <input type="email" id="email" name="email" required>
        </p>


        <p>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required minlength="6"
        </p>
        <p>
            <label for="confirm-password">Confirm Password</label>
            <input type="password" id="confirm-password" name="confirm-password" required>
        </p>


        <button type="submit" class="btn">Login</button>
        <p id ="switch-form"><a href="/signup">Sign Up Instead</a></p>
    </form>
</main>
<%- include('../includes/footer' ) %>
