<%- include('includes/head.ejs', { title: 'Admin' }) %>
</head>
<body>
  <%- include('includes/header.ejs') %>
  <main>
    <h1>The Profile Page</h1>
    <p>You should only get here, if you're authenticated (logged in).</p>
    <p>TThis is the profile page and you are here welcome to here</p>
  </main>
</body>
</html>