<%- include('includes/head',{pageTitle: 'Error'} ) %>

</head>

<body>
<%- include('includes/header') %>
<main>
    <h1>Something Went Wrong.</h1>
    <p>Please try again</p>
    <p><a href="/" class="btn">Back To Safety</a></p>

</main>
<%- include('includes/footer' ) %>
